@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 28px;
    }


    .block
    {
        margin-bottom: 60px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 30px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        width: 126px;
        height: 26px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding: 132px 0 60px;
    }


    .first_section .image
    {
        border-radius: 20px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .image
    {
        border-radius: 20px;
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .items > * + *
    {
        margin-top: 32px;
    }


    .benefits .items .icon + *
    {
        width: 100%;
        margin-top: 20px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .row
    {
        margin-bottom: -32px;
    }


    .contacts_info .row > *
    {
        margin-bottom: 32px;
    }



    /*------------
        Footer
    ------------*/
    footer .logo img
    {
        width: 126px;
        height: 26px;
    }
}
