@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 16px;
        --font_size_title: 36px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    .block
    {
        margin-bottom: 80px;
    }



    .cont
    {
        padding: 0 30px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 48px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 40px 0;
    }


    header .logo img
    {
        width: 146px;
        height: 30px;
    }


    header .menu .btn
    {
        font-size: 17px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding: 180px 0 124px;
    }


    .first_section .subscribe
    {
        margin-top: 48px;
    }


    .first_section .image
    {
        height: 320px;

        border-radius: 36px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe
    {
        width: 440px;
    }


    .subscribe .input
    {
        height: 64px;
        padding-right: 189px;
        padding-left: 23px;
    }


    .subscribe .submit_btn
    {
        font-size: 17px;

        width: 160px;
        height: 48px;
        padding: 12px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .image
    {
        width: calc(50% - 15px);
        height: 332px;

        border-radius: 36px;
    }



    /*--------------
        Services
    --------------*/
    .services .service
    {
        padding: 44px 48px;

        border-radius: 30px;
    }


    .services .service .name
    {
        font-size: 22px;

        margin-bottom: 24px;
    }



    /*----------------
        Tech stack
    ----------------*/
    .tech_stack .icon
    {
        margin-bottom: 24px;
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .data
    {
        padding: 48px;

        border-radius: 30px;
    }


    .benefits .title
    {
        font-size: 22px;

        width: 264px;
    }


    .benefits .items
    {
        width: calc(100% - 340px);
    }


    .benefits .items .icon + *
    {
        width: calc(100% - 89px);
    }



    /*----------------
        Learn more
    ----------------*/
    .learn_more .items > * + *
    {
        margin-left: 48px;
    }


    .learn_more .subscribe
    {
        margin-top: 52px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .item .country
    {
        margin-bottom: 20px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 52px 0;
    }


    footer .logo img
    {
        width: 146px;
        height: 30px;
    }
}
