@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 16px;
        --font_size_title: 32px;
    }



    /*------------
        Header
    ------------*/
    header .menu .btn
    {
        font-size: var(--font_size);
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *
    {
        margin-bottom: 20px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .subscribe
    {
        margin-top: 40px;
    }


    .first_section .image
    {
        height: 324px;

        border-radius: 30px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe .input
    {
        height: 52px;
        padding-right: 23px;
    }


    .subscribe .submit_btn
    {
        font-size: 16px;

        position: relative;
        right: 0;

        width: 100%;
        height: 52px;
        margin-top: 12px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .image
    {
        height: 268px;

        border-radius: 30px;
    }



    /*--------------
        Services
    --------------*/
    .services .service
    {
        padding: 30px;
    }


    .services .service .name
    {
        font-size: 20px;
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .data
    {
        padding: 40px;
    }


    .benefits .title
    {
        width: 100%;
        margin-bottom: 30px;
    }


    .benefits .items
    {
        width: 100%;
    }



    /*----------------
        Learn more
    ----------------*/
    .learn_more .block_head
    {
        margin-bottom: 28px;
    }


    .learn_more .items > * + *
    {
        margin-left: 40px;
    }


    .learn_more .subscribe
    {
        margin-top: 48px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 48px 0;
    }
}
